{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block
content %}
<div class="container" style="margin-top: 10%; width: 50%;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"></button>
        {{ message }}
      </div>
      {% endfor %}
      <!-- Login form -->
      <h3 style="text-align: center; color: #8181CF;">Login</h3>
      {{wtf.quick_form(login_form)}}
      <a href="{{url_for('auth.register')}}">Dont Have account?</a>
    </div>
  </div>
</div>

{% endblock%}
